@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoitems{
    background-color: #8980802e;
}